
.container {
	width: 960px;
	margin: 0 auto;
}
#headername {
	background-color: #4aaaa5;
	width: 33%;
	float: left;
	margin: 50px 10px 50px 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: white;
	font-size: 35px;
}

#navigation {

}

h1 {
	clear: both;
	
}

body {
	width: 960px;
	margin: 0 150px 0 150px;
	background-color: #cccccc;
	float: left;
}
ul {
	list-style-type: none;
	float: right;
	margin-top: 60px;
}
 li {
	display: inline;
 }

.connect{
	width: 270px;
	height: 270px;
	background-color:#ffffff;
	float:right;
}
